<h1>Busca de animal de estimação </h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'adocao:busca' %}" method="post">
	{% csrf_token %}
	<input type="text" name="termo" id="termo" value="{{ termo }}"/>
    <label for="termo">Termo de pesquisa</label><br />
	<input type="submit" value="Buscar" />
</form>

{% if registros %}
<ul>
	{% for registro in registros %}
	    <li>{{ registro.nome }}</li>
	{% endfor %}
</ul>
{% else %}
	{% if termo %}
		<p>Nenhum registro encontrado!</p>
	{% endif %}
{% endif %}
